img {
    margin-bottom: 20px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }

/* THE-MOBILE-WEBSITE v1.7:Tagging quizzes...and backgrounds too!
 Author:M0bile132022
 Date:09/04/2026*/